span {
  font-weight: bold;
  background: lightgray;
  padding: 0.3em 0.8em;
  cursor: pointer;
  user-select: none;
}

.play-container {
  padding: 3em;
  border: 1px solid lightgray;
  margin-bottom: 1em;

  input {
    padding: 1em;
    margin-bottom: 2em;
  }
}

.active {
  box-shadow: 2px 2px 2px black;

  &--dynamic {
    box-shadow: 2px 2px 2px black, 10px 10px 50px black;
  }
}

.notactive {
  background-color: blue !important;
  color: white !important;
}
